-i https://pypi.org/simple/
click==7.1.2
flask-marshmallow==0.13.0
flask-sqlalchemy==2.4.3
flask==1.1.2
greenlet==1.0.0 ; python_version >= '3'
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
marshmallow-sqlalchemy==0.23.1
marshmallow==3.10.0
six==1.15.0
sqlalchemy==1.4.2
werkzeug==1.0.1
